/*Navbar*/
#color{
    background-color: rgb(0, 0, 0);  
}

#item {
    color: aliceblue;
  }

/*Footer*/

.footer {
    background-color: black;
}

.img-r {
    width: 70px !important;
}

@media (min-width: 576px) {
    .img-r {
        width: 120px !important;
    }
}

.icos {
    width: 20px !important;
}

@media (min-width: 576px) {
    .icos {
        width: 32px !important;
    }
}