page {
    background-color:coral;
}

const myCarouselElement = document.querySelector('#myCarousel')

const carousel = new bootstrap.Carousel(myCarouselElement, {
  interval: 2000,
  touch: false
})

.nav-item {
    align-items: center;
    justify-content: end;
}